@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
:root{
    --drop-hero-bg: #B4D0E6;
}
/* utilities  */

.fs-small-custom{
    font-size: 0.8rem;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

.w-70{
    width: 70%;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
}


/* main  */
main{
    section{
        margin-bottom: 8rem;
    }
}
/* jumbotron  */
.jumbotron{
    background-color: var(--drop-hero-bg);
}
.jumbo-img{
    max-width: 100%;
}



/***************** responsive  *******************/

@media screen and (min-width:768px){
    .jumbotron{
        .container-md{
            text-align: start !important;
        }
        .row{
            flex-direction: row-reverse;
        }

    }
    #plans{
        .container-md{
            text-align: start !important;
        }

    }
        #partners{
            .container-md{
                text-align: start !important;
            }
        }
}




/* tablet  */
@media screen and (min-width:992px){
    .jumbotron{
        .container-md{
            text-align: start !important;
            width: 75%;
        }
        .row{
            flex-direction: row-reverse;
            img{
                position: absolute;
            }
        }
    }

    #partners{
        .container-md{
            width: 75%;
        }
    }

    #operation{
        .container-md{
            text-align: start !important;
            width: 75%;
        }
    }

    #trusted-by{
        .container-md{
            width: 75%;
        }

    }

    #footer{
        .container-md{
            width: 75%;
            [class^="col"]{
                margin: 0 auto;
            }
        }
    }

}