@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
:root{
    --drop-hero-bg: #B4D0E6;
}
/* utilities  */

.fs-small-custom{
    font-size: 0.8rem;
}

img{
    max-width: 100%;
}

.w-70{
    width: 70%;
}
/* jumbotron  */
.jumbotron{
    background-color: var(--drop-hero-bg);
}
.jumbo-img{
    max-width: 100%;
}